@model PBP_Frontend.Models.IndexViewModel
@{
    ViewBag.Title = "Alteração de Senha";
}


<div row h-100 justify-content-center align-items-center>
    <h2 class="internal-page-title">@ViewBag.Title.</h2>
    <p class="text-success internal-page-subtitle">@ViewBag.StatusMessage</p>
</div>
