@{
    ViewBag.Title = "Home Page";
}
<div class="arrow">
    <div class="mx-auto my-auto w-25 ">
        <img class="img-fluid" src="~/Images/newlogo-pbp.png" />
    </div>
</div>
<h2 class="internal-page-title">PickByPath</h2>
<h4 class="internal-page-subtitle">Guia em Realidade Aumentada</h4>
<br/><br/>

<h3 class="internal-page-title">Código de acesso</h3>
<h6 class="internal-page-subtitle">Utilize o código abaixo no aplicativo mobile</h6>
<h3 class="internal-page-subtitle text-success">@ViewBag.SafeCod</h3>