@{
    ViewBag.Title = "E-mail confirmado";
}

<h2 class="internal-page-title">@ViewBag.Title.</h2>
<div>
    <p class="page-content mt-0 text-center">Obrigado por confirmar seu e-mail. Continue aproveitanto o PickByPath.</p>
</div>
