@{
    ViewBag.Title = "Redefinição de senha";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<hgroup class="title">
    <h1 class="orange-title col-md-auto">E-mail para redefinição de senha enviado.</h1>
</hgroup>
<div class="col-md-auto">
    <p>Verifique seu email para redefinir a senha.</p>
</div>
	
