@{
    ViewBag.Title = "Redefinir confirmação de senha";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<hgroup class="title">
    <h1 class="orange-title text-center">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="mt-0 text-center">Sua senha foi redefinida. @Html.ActionLink("clique aqui para fazer logon.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>
