@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_ExternalLayout.cshtml";
    }
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>
<p class="mt-3">@Html.ActionLink("Voltar", Model.ActionName, Model.ControllerName, new { @class = "side-link" })</p>


