@model PBP_Frontend.Models.List

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h2 class="internal-page-title">Consultar Lista</h2>
<h5 class="internal-page-subtitle">Detalhes da lista de produtos</h5>

<div>
    <div>
        <div class="row">
            <p><span class="font-weight-bold">Nome da Lista:</span> @Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">Solicitante:</span> @Html.DisplayFor(model => model.Requester)</p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">Data de criação:</span> --/--/----</p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">Tempo de navegação:</span> 00:00:00</p>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
