@model IEnumerable<PBP_Frontend.Models.List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h2 class="internal-page-title">Consultar Listas</h2>
<h5 class="internal-page-subtitle">Visualizar listas de produtos</h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.Name)-->Nome
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Requester)-->Solicitante
            </th>
            <th>
            </th>
        </tr>
    </thead>

    @if (Model?.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requester)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = item.ListId }, new { @class = "table-button-link" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">
                Nenhum item encontrado
            </td>
        </tr>
    }
</table>
@section styles
{
    <link href="~/Content/IndexList/IndexList.css" rel="stylesheet" />
}